<h1><%= @user.name %>! Welcome to twittest.</h1>

<h3>You have successfuly signed up for a Twittest account. <br>
Welcome to your new family</h3>

<h5>Start posting tweets right away by clicking this link:
<a href="https://twittest-rails.herokuapp.com/login"></a></h5>

<hr>

<p>
Sincerly, <br>
Chris Lai <br>
Twittest senior back end coder
</p>
