<h1>Hello!</h1>

<p>
  Thank you for signing up for twittest!
</p>
<p>
  <%= @greeting %>, find me in app/views/confirmation_email/welcome.html.erb
</p>

<p>
  Sincerly
</p>
<p>
  Christopher Lai
</p>
<p>
  Senior back end coding person
</p>
