<h1>this is your main feed </h1>

<% if @tweets == nil %>
There are currently no tweets to show

<% else %>

<% @tweets.each do |tweet| %>
  <article class="tweet">
  <p>
    <%= link_to "#{tweet.body}", tweet_path(tweet.id) %>
  </p>
  <cite>
    <%= link_to "@#{tweet.user.name}", profile_path(tweet.user_id) %> |
    <%= tweet.time %>
  </cite>
  </article>
<% end %>

<% end %>
<br>
<button type="button" class="btn btn-default">
  <%= link_to "Go to your tweets", tweets_path %>
</button>


  <%# tweet.created_at.to_formatted_s(:long_ordinal) %>
